*{
	box-sizing: border-box;
}
h1{
	color: blue;
	font-size: 50px;
	text-align: center;
}
h2{
	color: red;
	font-size: 30px;
}
h3{
	color: red;
	font-size: 30px;
}
h4{
	color: red;
	font-size: 30px;
}
p{
	color: darkred;
	border: 1px solid black;
	margin-bottom: 15px;
}
.row{
	width: 100%;
}
/***Browser***/
@media (min-width: 992px;) {

}
/***Tablet***/
@media (min-width: 768px) and (max-width: 991px;) {

}